/* チャットのスタイルシート */
.faq{
  width: 100%;
  height: 100%;
}
.chat-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 5px red;
}
.faq-form{
  margin: 0 0 1rem 0;
}
.uname{
  width: 100%;
}
.text {
  width: 100%;
  border: solid 1px #ccc;
  display: flex;
  flex-direction: column;
}

.test-buttons {
  display: flex;
  justify-content: space-between;
}

.edit {
  width: 100%;
  border: solid 1px #ccc;
}

.delete {
  width: 100%;
  border: solid 1px #ccc;
}
.faq-button-box{
  margin-bottom: 1rem;
}
.chat-submit{
  width: 30%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #FFD34D;
}
.output{
  width: 100%;
  overflow: auto;
  height: 300px;
}

/* output内 */
.output{
  width: 100%;
  overflow: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.chat-result-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.chat-result-form{
  margin-bottom: 1rem;
}
.chat-result-uname{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.chat-result-text{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.chat-result-buttons{
  width: 100%;
  display: flex; 
  justify-content: space-around;
}
.edit{
  width: 30%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #FFD34D;
  border: none;
}
.delete{
  width: 30%;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #FFD34D;
  border: none;
}



